{% extends 'agua/base_usuario.html' %}

{% block content %}
<h2 class="mb-4">Ajustes de Usuario</h2>

<!-- Formulario para cambiar nombre de usuario y correo -->
<div class="card mb-4">
    <div class="card-header bg-primary text-white">
        <h5 class="mb-0">Actualizar Datos</h5>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="update_data" class="btn btn-success">Actualizar Datos</button>
        </form>
    </div>
</div>

<!-- Formulario para cambiar contraseña -->
<div class="card mb-4">
    <div class="card-header bg-warning text-white">
        <h5 class="mb-0">Cambiar Contraseña</h5>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {{ password_form.as_p }}
            <button type="submit" name="change_password" class="btn btn-danger">Cambiar Contraseña</button>
        </form>
    </div>
</div>

{% endblock %}
