{% extends 'agua/base.html' %}
{% block content %}
{% load static %}
<h2>Nuestra Solución: Recolección y Purificación de Agua de Lluvia</h2>

<p>Planteamos una solución sostenible, económica y efectiva para comunidades con difícil acceso al agua potable: <strong>sistemas de captación de agua de lluvia</strong>.</p>

<h3>¿En qué consiste?</h3>
<ul>
    <li>Instalación de techos recolectores con canaletas.</li>
    <li>Almacenamiento en tanques protegidos.</li>
    <li>Purificación mediante filtros caseros de arena, carbón y grava.</li>
    <li>Educación comunitaria sobre el uso y mantenimiento del sistema.</li>
</ul>

<h3>Beneficios:</h3>
<ul>
    <li>Acceso directo al agua para consumo y uso doméstico.</li>
    <li>Reducción de enfermedades relacionadas con el agua contaminada.</li>
    <li>Empoderamiento comunitario y resiliencia frente al cambio climático.</li>
</ul>

<img src="{% static 'agua/img/SistemaCTALL.jpg' %}" alt="Sistema de captación de agua" class="img-fluid mt-4" >
{% endblock %}
